@keyframes prva-animacija {
  from {
    /* pocetno stanje */
    width: 10px;
    height: 10px;
    background-color: red;
  }
  to {
    /* krajnje stanje */
    width: 400px;
    height: 50px;
    background-color: green;
  }
}

#element {
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;

  animation: prva-animacija 2s alternate 3 forwards;
}
